.MuiPaper-root{
    width: 550px;
    margin: auto;
    margin-bottom: 10px;
    padding: 10px;
}
.b{
    display: inline-block;
    margin-left: 10px;
}
h3{
    text-align: center;
}
.card{
    position: relative; 
    float: left;
    height: 300px;
}
.text{
    width: 250px;
    margin-top: 0px;
    word-wrap: break-word;
}
.test{
    min-height: 300px;
}
input{
    margin-bottom: 10px;
}