.MuiPaper-root{
    width: 550px;
    margin: auto;
}
.b{
    display: inline-block;
    position: relative; 
    margin-left: 10px;
    margin-bottom: 10px;
}
.card{
    float: left;
    width: 200px;
    height: 300px;
}
.text{
    text-align: justify;
    width: 250px;
}
